@using SpkSnbp.Web.Areas.Dashboard.Models.Perhitungan
@model IndexVM

@inject IKriteriaRepository KriteriaRepository

@{
    Layout = null;
    var daftarKriteria = await KriteriaRepository.GetAll();
}

<head>
    <link rel="stylesheet" href="~/lib/datatables/datatables.min.css" asp-append-version="true" />
</head>

<style>
    table {
        width: 100%;
        font-size: 11px;
        font-family: 'Trebuchet MS', sans-serif;
    }

    table, th, tr, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    thead tr th {
        background-color: #F8F8FF !important;
        -webkit-print-color-adjust: exact; /* p */
        print-color-adjust: exact; /* p */
        color-adjust: exact; /* p */
    }

    th, td {
        padding: 5px;
    }

    h1, h2 {
        font-family: Calibri
    }

    h1 {
        font-size: 16px
    }

    h2 {
        font-size: 14px
    }
</style>


<h1 style="font-size:18px !important; text-align:center; margin-top:5px">Hasil Perhitungan</h1>

<table style="margin-top:20px">
    <thead>
        <tr>
            <th style="text-align:center" rowspan="2">Rangking</th>
            <th style="text-align:center" rowspan="2">Nilai Prefrensi</th>
            <th style="text-align:center" rowspan="2">NISN</th>
            <th style="text-align:center" rowspan="2">Nama</th>
            <th style="text-align:center" colspan="@daftarKriteria.Count">Kriteria</th>
        </tr>
        <tr>
            @foreach (var kriteria in daftarKriteria)
            {
                <th style="text-align:center">(@kriteria.Kode) @kriteria.Nama</th>
            }
        </tr>
    </thead>
    <tbody>
        @for(int i = 0; i < Model.DaftarSiswa.Count; i++)
        {
            var siswa = Model.DaftarSiswa[i];
            <tr>
                @if(siswa.NilaiTopsis is null)
                {
                    <td style="text-align:center">-</td>
                    <td style="text-align:center">-</td>
                }
                else
                {
                    <td style="text-align:center">@(i + 1)</td>
                    <td style="text-align:center">@siswa.NilaiTopsis.Value.ToString("F2")</td>
                }
                <td style="text-align:center">@siswa.NISN</td>
                <td style="text-align:center">@siswa.Nama</td>
                @foreach (var kriteria in daftarKriteria)
                {
                    var siswaKriteria = siswa.DaftarSiswaKriteria.FirstOrDefault(x => x.Kriteria == kriteria);
                    if (siswaKriteria is null)
                    {
                        <td style="text-align:center"> - </td>
                    }
                    else
                    {
                        if (kriteria.Id == (int)KriteriaEnum.MPKejuruan || kriteria.Id == (int)KriteriaEnum.MPUmum)
                        {
                            <td style="text-align:center">@siswaKriteria.Nilai.ToString("F2")</td>
                        }
                        else
                        {
                            <td style="text-align:center">@siswaKriteria.Nilai</td>
                        }
                    }
                }
            </tr>
        }
    </tbody>
</table>
