@using SpkSnbp.Web.Areas.Dashboard.Models.Ekstrakulikuler
@model IndexVM

@inject ITahunAjaranRepository TahunAjaranRepository
@inject IKelasRepository KelasRepository

@{
    ViewData["Title"] = "Ekstrakulikuler";
    var daftarTahun = await TahunAjaranRepository.GetAll();
    var daftarKelas = await KelasRepository.GetAll();
}

<!-- Breadcrumb -->
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Data</a></li>
            <li class="breadcrumb-item"><a asp-action="Index"></a>Ekstrakulikuler</li>
        </ol>
    </nav>
</div>

<!-- Isi Konten -->
<div class="card card-primary">
    <!-- Judul -->
    <div class="card-header">
        <h4>Daftar Ekstrakulikuler</h4>
    </div>
    <div class="padding-20">

        <div class="d-flex justify-content-between align-items-center mb-3">

            <form asp-action="Index" method="get" class="d-flex align-items-center" style="gap: 8px;">
                <input name="first" id="first" value="False" readonly hidden />
                <div class="d-flex align-items-center mr-2" style="gap: 8px;">
                    <label asp-for="@Model.Tahun" class="mb-0" style="font-weight: 600; white-space: nowrap;">Tahun Ajaran:</label>
                    <select asp-for="@Model.Tahun" class="submit-on-change form-control form-control-sm w-auto" style="min-width:150px;">
                        @if (Model.Tahun is null)
                        {
                            <option value="@null">-- Tidak ada Tahun Ajaran --</option>
                        }
                        @foreach (var item in daftarTahun)
                        {
                            <option value="@item.Id">@item.Id</option>
                        }
                    </select>
                </div>

                <div class="d-flex align-items-center" style="gap: 8px;">
                    <label asp-for="@Model.Jurusan" class="mb-0" style="font-weight: 600; white-space: nowrap;">Jurusan:</label>
                    <select asp-for="@Model.Jurusan" class="submit-on-change form-control form-control-sm w-auto" style="min-width:150px;">
                        @foreach (var item in Enum.GetValues<Jurusan>())
                        {
                            <option value="@item">@item.Humanize()</option>
                        }
                    </select>
                </div>

                <div class="d-flex align-items-center" style="gap: 8px;">
                    <label asp-for="@Model.IdKelas" class="mb-0" style="font-weight: 600; white-space: nowrap;">Jurusan:</label>
                    <select asp-for="@Model.IdKelas" class="submit-on-change form-control form-control-sm w-auto" style="min-width:150px;">
                        <option value="@null">-- Semua --</option>
                        @foreach (var item in daftarKelas)
                        {
                            <option value="@item.Id">@item.Nama</option>
                        }
                    </select>
                </div>
            </form>

            <div class="d-flex align-items-center">
                @if (Model.Jurusan is not null && Model.Tahun is not null)
                {
                    <button class="btn btn-tambah btn-icon icon-left btn-primary"
                            data-toggle="tooltip" title="Import Data">
                        <i class="fas fa-file-import"></i> Import
                    </button>
                    <div class="form-tambah">
                        <partial name="_FormImportPartial" model="@(new ImportVM { Tahun = Model.Tahun.Value, Jurusan = Model.Jurusan.Value, IdKelas = Model.IdKelas, ReturnUrl = Context.Request.AbsoluteUri() })" />
                    </div>
                }

                <div class="ml-1 mb-0">
                    <a asp-action="PDF" asp-route-tahun="@Model.Tahun" asp-route-jurusan="@Model.Jurusan" asp-route-idKelas="@Model.IdKelas" class="btn btn-icon icon left btn-danger mr-1">
                        <i class="fas fa-file-pdf"></i> PDF
                    </a>
                </div>

                <div class="mb-0">
                    <a asp-action="Excel" asp-route-tahun="@Model.Tahun" asp-route-jurusan="@Model.Jurusan" asp-route-idKelas="@Model.IdKelas" class="btn btn-icon icon left btn-success mr-1">
                        <i class="fas fa-file-excel"></i> Excel
                    </a>
                </div>
            </div>

        </div>

        <form asp-action="Simpan" asp-route-jurusan="@Model.Jurusan" asp-route-tahun="@Model.Tahun" asp-route-idKelas="@Model.IdKelas" method="post">
            <div class="mb-3">
                <button type="button"
                        id="btnEdit"
                        class="btn btn-icon icon-left btn-warning"
                        data-toggle="tooltip" title="Edit Predikat">
                    <i class="fas fa-edit"></i> Edit
                </button>
            </div>

            <div class="mb-3 justify-content-start d-none" id="actionButtons">
                <button class="btn btn-icon icon-left btn-primary mr-1"
                        type="submit" data-toggle="tooltip" title="Simpan perubahan">
                    <i class="fas fa-save"></i> Simpan
                </button>

                <button type="button"
                        id="btnBatal"
                        class="btn btn-icon icon-left btn-danger mr-1"
                        data-toggle="tooltip" title="Batalkan perubahan">
                    <i class="fas fa-times"></i> Batal
                </button>

                <a asp-action="Reset" asp-route-tahun="@Model.Tahun" asp-route-jurusan="@Model.Jurusan" asp-route-idKelas="@Model.IdKelas" asp-route-returnUrl="@Context.Request.AbsoluteUri()" class="btn btn-icon icon-left btn-secondary"
                   data-toggle="tooltip" title="Reset Jumlah">
                    <i class="fas fa-undo"></i> Reset
                </a>
            </div>

            <div class="table-responsive">
                <table style="width: 100%" class="table table-striped table-export">
                    <thead>
                        <tr>
                            <th>Nama</th>
                            <th>NISN</th>
                            <th>Jurusan</th>
                            <th>Kelas</th>
                            <th>Tahun Ajaran</th>
                            <th>
                                <p>(C@((int)KriteriaEnum.Ekstrakulikuler)) Ekstrakulikuler</p>
                                (Rata-Rata Predikat * Jumlah Ekstrakulikuler)
                            </th>
                            <th width="25%">Predikat</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.DaftarEntry.Count; i++)
                        {
                            var entry = Model.DaftarEntry[i];
                            <tr>
                                <input asp-for="@Model.DaftarEntry[@i].IdSiswa" readonly hidden />
                                <td>@entry.Siswa.Nama</td>
                                <td>@entry.Siswa.NISN</td>
                                <td>@entry.Siswa.Jurusan.Humanize()</td>
                                <td>@entry.Siswa.Kelas.Nama</td>
                                <td>@entry.Siswa.TahunAjaran.Id</td>
                                @if (entry.Ekstrakulikuler is not null)
                                {
                                    <td>@entry.Ekstrakulikuler</td>
                                }
                                else
                                {
                                    <td>-</td>
                                }
                                <td>
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <select asp-for="@Model.DaftarEntry[@i].Ekstrakulikuler1"
                                                            class="form-control ekskul-select"
                                                            disabled>
                                                        <option value="@null">-- Pilih Predikat--</option>
                                                        @foreach (var item in Enum.GetValues<PredikatEkstrakulikuler>())
                                                        {
                                                            <option value="@item">@item.Humanize() (@((int)item))</option>
                                                        }
                                                    </select>
                                                    <span asp-validation-for="@Model.DaftarEntry[@i].Ekstrakulikuler1" class="text-danger"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <select asp-for="@Model.DaftarEntry[@i].Ekstrakulikuler2"
                                                            class="form-control ekskul-select"
                                                            disabled>
                                                        <option value="@null">-- Pilih Predikat--</option>
                                                        @foreach (var item in Enum.GetValues<PredikatEkstrakulikuler>())
                                                        {
                                                            <option value="@item">@item.Humanize() (@((int)item))</option>
                                                        }
                                                    </select>
                                                    <span asp-validation-for="@Model.DaftarEntry[@i].Ekstrakulikuler2" class="text-danger"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <select asp-for="@Model.DaftarEntry[@i].Ekstrakulikuler3"
                                                            class="form-control ekskul-select"
                                                            disabled>
                                                        <option value="@null">-- Pilih Predikat--</option>
                                                        @foreach (var item in Enum.GetValues<PredikatEkstrakulikuler>())
                                                        {
                                                            <option value="@item">@item.Humanize() (@((int)item))</option>
                                                        }
                                                    </select>
                                                    <span asp-validation-for="@Model.DaftarEntry[@i].Ekstrakulikuler3" class="text-danger"></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </form>
        <!-- Tabel -->
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        const btnEdit = document.getElementById("btnEdit");
        const btnBatal = document.getElementById("btnBatal");
        const btnReset = document.getElementById("btnReset");
        const actionButtons = document.getElementById("actionButtons");
        const selects = document.querySelectorAll(".ekskul-select");

        let initialValues = [];

        // EDIT
        btnEdit.addEventListener("click", function () {

            initialValues = [];
            selects.forEach(select => {
                initialValues.push(select.value);
                select.removeAttribute("disabled");
            });

            actionButtons.classList.remove("d-none");
            actionButtons.classList.add("d-flex");

            btnEdit.style.display = "none";
        });

        // RESET
        btnReset.addEventListener("click", function () {
            selects.forEach(select => {
                select.value = "";
            });
        });

        // BATAL
        btnBatal.addEventListener("click", function () {

            selects.forEach((select, index) => {
                select.value = initialValues[index];
                select.setAttribute("disabled", true);
            });

            actionButtons.classList.add("d-none");
            actionButtons.classList.remove("d-flex");

            btnEdit.style.display = "inline-block";
        });
    </script>

}