@using SpkSnbp.Web.Models.Ekstrakulikuler
@model IndexVM

@inject ITahunAjaranRepository TahunAjaranRepository

@{
    ViewData["Title"] = "Ekstrakulikuler";
    var daftarTahun = await TahunAjaranRepository.GetAll();
}

<!-- Breadcrumb -->
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Data</a></li>
            <li class="breadcrumb-item"><a asp-action="Index"></a>Ekstrakulikuler</li>
        </ol>
    </nav>
</div>

<!-- Isi Konten -->
<div class="card card-primary">
    <!-- Judul -->
    <div class="card-header">
        <h4>Daftar Ekstrakulikuler</h4>
    </div>
    <div class="padding-20">

        <div class="d-flex justify-content-start ml-auto mb-3">
            @if (Model.Jurusan is not null && Model.Tahun is not null)
            {
                <div class="mb-0">
                    <button class="btn btn-tambah btn-icon icon-left btn-primary mr-1"
                            data-toggle="tooltip" title="Import Data">
                        <i class="fas fa-plus"></i> Import
                    </button>
                    <div class="form-tambah">
                        <partial name="_FormImportPartial" model="@(new ImportVM { Tahun = Model.Tahun.Value, Jurusan = Model.Jurusan.Value, ReturnUrl = Context.Request.AbsoluteUri() })" />
                    </div>
                </div>
            }

            <form asp-action="Index" method="get" class="d-flex align-items-center" style="gap: 8px;">
                <div class="d-flex ml-auto mr-3">
                    <div class="d-flex align-items-center mr-2" style="gap: 8px;">
                        <label asp-for="@Model.Tahun" class="mb-0" style="font-weight: 600;">Tahun Ajaran:</label>
                        <select asp-for="@Model.Tahun" class="submit-on-change form-control form-control-sm w-auto" style="min-width:150px;">
                            <option value="@null">-- Semua --</option>
                            @foreach (var item in daftarTahun)
                            {
                                <option value="@item.Id">@item.Id</option>
                            }
                        </select>
                    </div>

                    <div class="d-flex align-items-center mr-2" style="gap: 8px;">
                        <label asp-for="@Model.Jurusan" class="mb-0" style="font-weight: 600;">Jurusan:</label>
                        <select asp-for="@Model.Jurusan" class="submit-on-change form-control form-control-sm w-auto" style="min-width:150px;">
                            <option value="@null">-- Semua --</option>
                            @foreach (var item in Enum.GetValues<Jurusan>())
                            {
                                <option value="@item">@item.Humanize()</option>
                            }
                        </select>
                    </div>
                </div>
            </form>
        </div>

        <form asp-action="Simpan" asp-route-jurusan="@Model.Jurusan" asp-route-tahun="@Model.Tahun" method="post">
            <div class="mb-3 d-flex justify-content-start">
                <button class="btn btn-icon icon-left btn-primary mr-1"
                        data-toggle="tooltip" title="Simpan Perubahan" type="submit">
                    <i class="fas fa-save"></i> Simpan
                </button>

                <a asp-action="Index" asp-route-jurusan="@Model.Jurusan" asp-route-tahun="@Model.Tahun"
                   class="btn btn-icon icon-left btn-danger mr-1" data-toggle="tooltip" title="Reset Perubahan">
                    <i class="fas fa-save"></i> Reset
                </a>
            </div>

            <div class="table-responsive">
                <table style="width: 100%" class="table table-striped table-export">
                    <thead>
                        <tr>
                            <th>Nama</th>
                            <th>NISN</th>
                            <th>Jurusan</th>
                            <th>Tahun Ajaran</th>
                            <th>
                                <p>(C@((int)KriteriaEnum.Ekstrakulikuler)) Ekstrakulikuler</p>
                                (Rata-Rata Predikat * Jumlah Ekstrakulikuler)
                            </th>
                            <th colspan="3">Predikat</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.DaftarEntry.Count; i++)
                        {
                            var entry = Model.DaftarEntry[i];
                            <tr>
                                <input asp-for="@Model.DaftarEntry[@i].IdSiswa" readonly hidden />
                                <td>@entry.Siswa.Nama</td>
                                <td>@entry.Siswa.NISN</td>
                                <td>@entry.Siswa.Jurusan.Humanize()</td>
                                <td>@entry.Siswa.TahunAjaran.Id</td>
                                @if (entry.Ekstrakulikuler is not null)
                                {
                                    <td>@entry.Ekstrakulikuler</td>
                                }
                                else
                                {
                                    <td>-</td>
                                }
                                <td>
                                    <select asp-for="@Model.DaftarEntry[@i].Ekstrakulikuler1" class="form-control">
                                        <option value="@null">-- Pilih Predikat--</option>
                                        @foreach (var item in Enum.GetValues<PredikatEkstrakulikuler>())
                                        {
                                            <option value="@item">@item.Humanize() (@((int)item))</option>
                                        }
                                    </select>
                                    <span asp-validation-for="@Model.DaftarEntry[@i].Ekstrakulikuler1" class="text-danger"></span>
                                </td>
                                <td>
                                    <select asp-for="@Model.DaftarEntry[@i].Ekstrakulikuler2" class="form-control">
                                        <option value="@null">-- Pilih Predikat--</option>
                                        @foreach (var item in Enum.GetValues<PredikatEkstrakulikuler>())
                                        {
                                            <option value="@item">@item.Humanize() (@((int)item))</option>
                                        }
                                    </select>
                                    <span asp-validation-for="@Model.DaftarEntry[@i].Ekstrakulikuler2" class="text-danger"></span>
                                </td>
                                <td>
                                    <select asp-for="@Model.DaftarEntry[@i].Ekstrakulikuler3" class="form-control">
                                        <option value="@null">-- Pilih Predikat--</option>
                                        @foreach (var item in Enum.GetValues<PredikatEkstrakulikuler>())
                                        {
                                            <option value="@item">@item.Humanize() (@((int)item))</option>
                                        }
                                    </select>
                                    <span asp-validation-for="@Model.DaftarEntry[@i].Ekstrakulikuler3" class="text-danger"></span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </form>
        <!-- Tabel -->
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}